<!doctype html>
<html>
<head>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        function cb(selection) {
            $.getJSON({
                url: "/callback", data: { 'data': selection }, success: function (result) {
                    Plotly.newPlot('chart', result, {staticPlot: true});;
                }
            });
        }
    </script>
</head>

<body style="font-family:arial, sans-serif">
    <h1>SquidBrainsAreShapedLikeDonuts</h1>
    <h2>Select your dataset</h2>
    <p>Copy and paste the url for the CSV</p>
    <input type="text" id="fname" name="fname" onchange="cb(this.value)">

    <div id="data" class="datatab"></div>
    {% for table in tables %}
            {{titles[loop.index]}}
            {{ table|safe }}
    {% endfor %}

    {% for title in titles %}
        <input type=checkbox name=selected value={{title|safe}}> {{title }} <br/>
    {% endfor %}

    <form method="post">
        <input type="submit" name="button" value="plot"> <br/>
        <input type="submit" name="button" value="fetch_data"> <br/>
    </form>

    <form method="post" action="/select">
      <select id="operator" name="operator">
          <option value="=">=</option>
          <option value=">">></option>
          <option value="<"><</option>
      </select>
      <input type="submit" value="Submit">
    </form>

    <div id="chart" class="chart"></div>
</body>

<script>
    d = {{ graphJSON | safe }};
    Plotly.newPlot('chart', d, {});
</script>
</html>
