<!doctype html>
<html>
<head>

</head>

<body style="font-family:arial, sans-serif">
    <h1>SquidBrainCharts</h1>
    <h2>Select your dataset</h2>
    <p>A url for a CSV</p>
    <ul>
      <li>adult-residential-care-home-listing-csv.csv</li>
      <li>top-50-employers-honolulu-county-csv.csv</li>
      <li>top-50-employers-kauai-county-csv.csv</li>
    </ul>

    <form method="post">
        <input type="text" id="fname" name="fname"> <input type="submit" name="button" value="fetch_data"> <br/>
    </form>

</body>

</html>
