<!doctype html>
<html>
<head>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        function cb(selection) {
            $.getJSON({
                url: "/callback", data: { 'data': selection }, success: function (result) {
                    Plotly.newPlot('chart', result, {staticPlot: true});;
                }
            });
        }
    </script>
</head>

<body style="font-family:arial, sans-serif">
    <h1>SquidBrainCharts</h1>

    <div id="chart" class="chart"></div>

    <p>This is a summary of your data: </p>

    <div id="data" class="datatab"></div>
    {% for table in tables %}
            {{titles[loop.index]}}
            {{ table|safe }}
    {% endfor %}

    <p>Pick which featuresyou want to plot:</p>
    <form method="post">
        {% for title in titles %}
            <input type=checkbox name=selected value={{title|safe}}> {{title }} <br/>
        {% endfor %}
        <select id="plot_type" name="plot_type">
            <option value="histogram">histogram</option>
            <option value="bar">bar</option>
            <option value="line">line</option>
            <option value="pie">pie</option>
        </select>
        <input type="submit" name="button" value="plot"> <br/>
        <input type="submit" name="button" value="reset"> <br/>
    </form>
</body>

<script>
    d = {{ graphJSON | safe }};
    Plotly.newPlot('chart', d, {});
</script>
</html>
